:root {
  /* fonts and colours */
  --main-text-color: #757575;
  --tittle-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bkg-color: #2f303a;
  --hover-button-color: #188ce8;
  --bkg-color: #f5f4fa;
  --border-color:#EEEEEE;
  --header-border-color:#ECECEC;
}

/* Глобалбный сброс */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.nav-list,
.contact-list,
.list,
.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image,
.image-team,
.image-work {
  display: block;
  max-width: 100%;
  height: auto;
}
.logo,
.logofooter{
  display: block;
}

body {
  background-color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
}

.header{
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--header-border-color);
}

.hero {
  background-color: var(--hero-bkg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  
}
.benefits{
  padding-top: 94px;
  padding-bottom: 94px;
}
.work{
  padding-bottom: 94px;
}

.tittle {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.subtitle {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.subtitle-benefits {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.subtitle-team {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.text-benefits {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logoweb {
  color: var(--accent-color);
}
.nav-list-link {
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list-link {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button-color);
  color: var(--secondary-color);
}
.team {
  background-color: var(--bkg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logofooter {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.address-list .street {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .contact:hover,
.address-list .contact:focus {
  color: var(--accent-color);
}
/* Портфолио */
.portfolio {
  background-color: var(--secondary-color);
  
  
  padding-top: 89px;
  padding-bottom: 99px;
}
.current-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button {
  background-color: var(--bkg-color);
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.subtitle-work {
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-link {
  display: block;
  text-decoration: none;
}
.text-work {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--secondary-color);
  width: 270px;
  border: transparent;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.image-team{
  margin-bottom: 30px;
}
.work-list{
  width: 370px;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}
